.right-sidebar {
  width: 100%;
  max-width: 300px;
  background: linear-gradient(
    135.88deg,
    rgba(255, 255, 255, 0.48) 1.84%,
    rgba(255, 255, 255, 0) 99.99%,
    rgba(255, 255, 255, 0.12) 100%
  );
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  text-align: center;

  h1 {
    margin: 10px 0;
  }

  ul {
    margin-top: 50px;
    text-align: left;
    list-style: none;
    outline: none;
    padding: 0;

    li {
      cursor: pointer;
      margin: 50px 0;
      padding: 0 30px;
      font-weight: bold;
      font-size: 18px;
      display: flex;
      justify-content: space-between;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  img {
    object-fit: cover;
    border-radius: var(--image-radius);
    width: 100%;
    max-width: var(--image-size);
    height: var(--image-size);
  }

  .image-container {
    padding-top: var(--image-padding-top);
  }
}
