.nav {
  height: 80px;
  background: rgba(255, 255, 255, 0.5);
  padding: 0 50px;

  display: flex;
  justify-content: space-between;

  .search {
    display: flex;
    align-items: center;

    span {
      cursor: pointer;
    }

    svg {
      width: 28px;
      height: 28px;
    }

    .input-container {
      margin: 0 30px;
      position: relative;

      svg {
        width: 22px;
        height: 22px;
      }

      span {
        position: absolute;
        right: 5px;
        top: 7px;
      }

      input {
        font-size: var(--fz-xl);
        width: 100%;
        max-width: 350px;
        color: var(--white);
        background: transparent;
        text-indent: var(--fz-xl);
        padding: 8px 0;
        outline: none;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 10px;
      }
    }
  }

  .nav-title {
    display: flex;
    align-items: center;

    svg {
      width: 28px;
      height: 28px;
    }

    h1 {
      margin: 0 15px;
      font-size: 25px;
    }
  }
}
