body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
}

:root {
  --brown: #7e6060;
  --blue: #005fed;
  --blue-slate: #00a4ea;
  --light-blue: #00a4f8;
  --pink: #00bbe2;
  --light-pink: #00fffa;
  --green: #00fcc7;
  --white: #ffffff;

  --circle-background-gradient: linear-gradient(
    135.88deg,
    rgba(255, 255, 255, 0.48) 1.84%,
    rgba(255, 255, 255, 0) 99.99%,
    rgba(255, 255, 255, 0.12) 100%
  );
  --circle-width: 300px;
  --circle-height: 300px;
  --circle-radius: 50%;
  --circle-rotate: rotate(94.26deg);
  --circle-border: 1px solid rgba(255, 255, 255, 0.5);

  --fz-xxs: 6px;
  --fz-xs: 8px;
  --fz-sm: 10px;
  --fz-md: 12px;
  --fz-lg: 14px;
  --fz-xl: 16px;
  --fz-xxl: 18px;
  --fz-heading: 32px;

  --border-radius: 30px;
  --backdrop-filter: 100px;

  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  font-weight: 600;
  color: var(--white);
  line-height: 1.1;
}

// section {
//   margin: 0 auto;
//   max-width: 1000px;
//   padding: 100px 0 0;
//   @media (max-width: 1080px) {
//     padding: 80px 90px;
//   }
//   @media (max-width: 768px) {
//     padding: 70px 30px;
//   }

//   @media (max-width: 480px) {
//     padding: 60px 30px;
//   }
// }
